<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>出货记录</title>
<include file="Com/head" />
<style>
.ui-icon-home{
    position: absolute;
    right: 10px;
    top: 5%;
}
</style>
</head>
<body ontouchstart="" >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" data-href="<{:U('./Wxship/Index/index')}>" ></i><h1>我的出货记录</h1><i class="ui-icon-home" data-href="<{:U('./Wxship/Index/index')}>" ></i>
</header>
<section class="ui-container">
<div class="ui-whitespace">
<p>　</p>
</div>

<ul class="ui-list ui-list-text ui-list-link ui-border-tb">

<foreach name='list' item='item'  key='key'>
    <li class="ui-border-t" data-href="<{:U('./Wxship/Ship/shipdetail?ship_id='.$item['ship_id'].'')}>" >
        <div class="ui-list-info">
            <h4 class="ui-nowrap"><{$item.ship_barcode}> <span style=" font-size:0.7em; color:#999999">(<{$item.ship_date|date='Y-m-d H:i:s',###}>)</span></h4>
			<p class="ui-nowrap"><{$item.pro_name}></p>
			<p class="ui-nowrap"><{$item.dl_name}></p>
        </div>
		<div class="ui-badge-muted"><{$item.ship_proqty}></div>
    </li>
</foreach>

</ul>

<if condition="$page neq ''" >
<div style="margin:0 auto;" >
<table class="page" cellpadding="0" cellspacing="0" align="center"><tbody>
<tr>
<td><{$page}></td>
</tr></tbody></table>
</div>
</if>

<div class="ui-whitespace">
<p>　</p>
</div>
</section>

<script>
(function (){
	$('.ui-list li').click(function(){
		if($(this).data('href')){
			location.href= $(this).data('href');
		}
	});
	
	
	$('.ui-icon-return').click(function(){
		if($(this).data('href')){
			location.href= $(this).data('href');
		}
	});

	$('.ui-icon-home').click(function(){
		if($(this).data('href')){
			location.href= $(this).data('href');
		}
	});
	
		
})();
</script>

</body>
</html>