<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>我的订单</title>
<include file="Com/head" />
<style>
.ui-icon-home{
    position: absolute;
    right: 10px;
    top: 5%;
}
.ui-form-item-r button {color: #FFFFFF;}
</style>
</head>
<body ontouchstart="" >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return"   data-href="<{:U('./Wxship/Index/index')}>"  ></i><h1>我的订单</h1><i class="ui-icon-home" data-href="<{:U('./Wxship/Index/index')}>" ></i>
</header>
<section class="ui-container">

<div class="ui-whitespace">
<p>　</p>
</div>

<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
    <li class="ui-border-t" data-href="<{:U('./Wxship/Orders/orderslist/od_state/0')}>" >
        <div class="ui-list-info">
            <h4 class="ui-nowrap">待确认</h4>
        </div>
		<if condition="$count1 neq '0' ">
		<div class="ui-badge"><{$count1}></div>
		</if>
    </li>
</ul>
<div class="ui-whitespace">
<p style="height:0.9em; line-height:0.9em"></p>
</div>

<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
    <li class="ui-border-t" data-href="<{:U('./Wxship/Orders/orderslist/od_state/1')}>" >
        <div class="ui-list-info">
            <h4 class="ui-nowrap">待发货</h4>
        </div>
		<if condition="$count2 neq '0' ">
		<div class="ui-badge"><{$count2}></div>
		</if>
    </li>
</ul>
<div class="ui-whitespace">
<p style="height:0.9em; line-height:0.9em"></p>
</div>

<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
    <li class="ui-border-t" data-href="<{:U('./Wxship/Orders/orderslist/od_state/3')}>" >
        <div class="ui-list-info">
            <h4 class="ui-nowrap">已发货</h4>
        </div>
    </li>
</ul>
<div class="ui-whitespace">
<p style="height:0.9em; line-height:0.9em"></p>
</div>

<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
    <li class="ui-border-t" data-href="<{:U('./Wxship/Orders/orderslist/od_state/8')}>" >
        <div class="ui-list-info">
            <h4 class="ui-nowrap">已完成</h4>
        </div>
    </li>
</ul>
<div class="ui-whitespace">
<p style="height:0.9em; line-height:0.9em"></p>
</div>

<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
    <li class="ui-border-t" data-href="<{:U('./Wxship/Orders/orderslist/od_state/9')}>" >
        <div class="ui-list-info">
            <h4 class="ui-nowrap">已取消</h4>
        </div>
    </li>
</ul>
<div class="ui-whitespace">
<p style="height:0.9em; line-height:0.9em"></p>
</div>

<div class="ui-form ui-border-t">
    <form action="<{:U('./Wxship/Orders/orderslist')}>" id="fmm"  method="get" >
        <div class="ui-form-item ui-form-item-r ui-border-b">
            <input type="text" placeholder="请输入订单号查找"  name="keyword" id="keyword" >
			<button type="button" class="ui-border-l ui-btn-primary"  id="search" >搜索</button>
        </div>
    </form>
</div>
<div class="ui-whitespace">
<p style="height:0.9em; line-height:0.9em"></p>
</div>


</section>
<script>
(function (){
	$('.ui-list li').click(function(){
		if($(this).data('href')){
			if($(this).data('href')=='quit'){
				$(".ui-dialog").css('display','-webkit-box');
				$(".ui-dialog-cnt").css('display','block');
			}else{
				location.href= $(this).data('href');
			}
		}
	});
	
	$('.ui-icon-return').click(function(){
		if($(this).data('href')){
			location.href= $(this).data('href');
		}
	});

	$('.ui-icon-home').click(function(){
		if($(this).data('href')){
			location.href= $(this).data('href');
		}
	});
	
	$("#search").click(function(){
		if($("#keyword").val() == "") { 
			mpoptips("请输入订单号查找","warn",2000);
			return false; 
		} 
	
		
		$("#fmm").submit();
	  
	});
	
})();
</script>
</body>
</html>