<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>会员登录</title>
<include file="Com/head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/angels/css/font.css" />
<style>
.info_head_img {
    background: #000000 none repeat scroll 0 0;
    border-radius: 40px;
    color: #ffffff;
    font-size: 40px;
    height: 80px;
    margin: 15px 0 15px 0;
    width: 80px;
}
.info_head_img i {
    margin-left: 20px;
    margin-top: 10px;
    position: absolute;
}
.info_head_img img {
    width: 60px;
}
</style>
</head>
<body ontouchstart="" >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" data-href="<{:U('./Angels/Index/index')}>" ></i><h1>会员登录</h1>
</header>
<section class="ui-container" >
<div class="ui-flex ui-flex-pack-center">
<div class="info_head_img">
	<i class="jicon user"></i>
</div>
</div>
<div class="ui-form ui-border-t">
    <form action="#" >
        <div class="ui-form-item ui-form-item-pure ui-border-b">
            <input type="text" placeholder="账号"  name="username" id="username" >
        </div>
        <div class="ui-form-item ui-form-item-pure ui-border-b">
            <input type="password" placeholder="密码" name="pwd" id="pwd"  >
        </div>
        <input type="hidden" value="<{$ttamp}>"  name="ttamp" id="ttamp" >
		<input type="hidden" value="<{$sture}>"  name="sture" id="sture" >
		<input type="hidden" value="<{$gifid}>"  name="gifid" id="gifid" >
		<input name="fwcode" id="fwcode" value="<{$fwcode}>"  type="hidden" >
    </form>
</div>
<div class="ui-btn-wrap">
    <button class="ui-btn-lg ui-btn-primary"  id="btnlogin" >登 录</button>
</div>
<div class="ui-whitespace" style="text-align:center">
<a href="<{:U('./Angels/Member/reg')}>">会员注册</a>
</div>

</section>

<script>
	$('.ui-icon-return').click(function(){
		if($(this).data('href')){
			location.href= $(this).data('href');
		}
	});
	
	
	$("#btnlogin").click(function(){
		if($("#username").val() == "") { 
			mpoptips("请输入账号","warn",2000);
			return false; 
		} 
		 if($("#pwd").val() == "") { 
			mpoptips("请输入密码","warn",2000);
			return false; 
		}
		var username = $("#username").val();
		var pwd = $("#pwd").val();
		var ttamp = $("#ttamp").val();
		var sture = $("#sture").val();

		
		try {
			$.ajax({
				type: 'POST',
				url: '<{:U('./Angels/Member/logining')}>',
				data: {  pwd: pwd, username: username, ttamp: ttamp, sture: sture },
				dataType: 'json',
				timeout: 30000,
				success: function (data) {

					var stat=0;
					stat=parseInt(data.stat);
					
					if (stat == 1) {
						 mpoptips(data.msg,"warn",2000);
						 if($("#fwcode").val() == ""){
						     if($("#gifid").val() == "" || parseFloat($("#gifid").val())<=0 ){
							     location.href = "<{:U('./Angels/Member/index')}>";
							 }else{
							     location.href = "<{:U('./Angels/Jfmall/detail')}>?gif_id="+encodeURIComponent($("#gifid").val());
							 }
						 }else{
						     location.href = "<{:U('./Angels/Member/index')}>?fwcode="+encodeURIComponent($("#fwcode").val());
						 } 
					}else if(stat == 2){
						 mpoptips(data.msg,"warn",2000);
						 location.href = "<{:U('./Angels/Member/login')}>";
						 return false; 
					}else{
						mpoptips(data.msg,"warn",2000);
						return false; 
					}
				},
				error: function (xhr, type) {
					mpoptips("超时或服务错误","warn",2000);
					return false; 
				}
			});

		} catch (e) {
			mpoptips(e,"warn",2000);
			return false; 
		}
		

	});
</script>	
</body>
</html>