<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>会员注册</title>
<include file="Com/head" />
<style>

</style>
</head>
<body ontouchstart="" >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" data-href="<{:U('./Angels/Member/index')}>" ></i><h1>会员注册</h1>
</header>
<section class="ui-container" >
<div class="ui-whitespace">
　
</div>

<div class="ui-form ui-border-t">
<form action="#">
<input name="fwcode" id="fwcode" value="<{$fwcode}>"  type="hidden" >
<div class="ui-form-item ui-border-b">
	<label for="#">账号</label>
	<input type="text" value=""  placeholder="账号必须为手机号"  id="username" >
</div>
<div class="ui-form-item ui-border-b">
	<label for="#">密码</label>
	<input type="password" value=""  placeholder="请填写密码" id="pwd" >
</div>
<div class="ui-form-item ui-border-b">
	<label for="#">姓名</label>
	<input type="text" value=""  placeholder="请填写姓名" id="truename" >
</div>
<div class="ui-form-item ui-border-b">
	<label for="#">电话</label>
	<input type="text" value=""  placeholder="请填写电话、手机" id="tel" >
</div>

<div class="ui-form-item ui-form-item-switch ui-border-b">
	<p >
		<a href="<{:U('./Angels/Agreement/')}>" >服务协议(同意)</a>
	</p>
	<label class="ui-switch">
	<input type="checkbox" checked id="agreement"  onClick="return false;" >
	</label>
</div>
</form>
<div class="ui-btn-wrap">
    <button class="ui-btn-lg ui-btn-primary" id="reg" >
        注册会员
    </button>
</div>

		
</div>


</section>

<script>
	$('.ui-icon-return').click(function(){
		if($(this).data('href')){
			location.href= $(this).data('href');
		}
	});


	//点击提交
    $("#reg").click(function(){
	
	
            if($("#username").val() == "") { 
				mpoptips("请填写账号","warn",2000);
				return false; 
			} 
			
			var filter2=/^1(3|4|5|7|8)\d{9}$/; 
			if  (!filter2.test($("#username").val())) { 
				mpoptips("填写账号必须为手机号","warn",2000);
				return false; 
			}
			
			 
			if($("#pwd").val() == "") { 
				mpoptips("请填写密码","warn",2000);
				return false; 
			}
			
			if($("#truename").val() == "") { 
				mpoptips("请填写姓名","warn",2000);
				return false; 
			}
			
			if($("#tel").val() == "") { 
				mpoptips("请填写电话","warn",2000);
				return false; 
			}
			

			var username = $("#username").val();
			var pwd = $("#pwd").val();
			var truename = $("#truename").val();
			var tel = $("#tel").val();
			var fwcode = $("#fwcode").val();
			
			
			
            try {
				$.ajax({
					type: 'POST',
					url: '<{:U('./Angels/Member/reg_save')}>',
					data: { username:username, pwd:pwd, truename:truename, tel:tel, fwcode:fwcode },
					dataType: 'json',
					timeout: 30000,
					success: function (data) {

						var stat=0;
						stat=parseInt(data.stat);
						
						if (stat == 1) {
							 alert(data.msg);
							 if($("#fwcode").val() == ""){
						         location.href = "<{:U('./Angels/Member/index')}>";
							 }else{
							     location.href = "<{:U('./Angels/Member/index')}>?fwcode="+encodeURIComponent($("#fwcode").val());
							 }
						}else{
							mpoptips(data.msg,"warn",2000);
							return false; 
						}
					},
					error: function (xhr, type) {
						mpoptips("超时或服务错误","warn",2000);
						return false; 
					}
				});

			} catch (e) {
				mpoptips(e,"warn",2000);
				return false; 
			}
	
	});
	
</script>	
</body>
</html>