<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>防伪码分批处理</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Sysadmin/Index/index')}>">首页</a>　&gt;　<A href="#">防伪码分批处理</A></div>
<div class="nav_r"></div>
</div>
<div class="height10"></div>
<div>
<div style="float:left; width:60%">
<form action="<{:U('Sysadmin/Fwcode/batch')}>"   method="post" name="fmmm"  >
企业码：<input    type="text" size="5" maxlength="5"  name="qycode"  class="input"  value="<{$qycode}>"   >　<input type="submit" name="Submit" value="查 询"  ></form>
</div>
<div style="float:right; width:39%; text-align:right">
<a href="<{:U('Sysadmin/Fwcode/addbatch')}>">添加分批处理</a>　<a href="<{:U('Sysadmin/Fwcode/findk')}>">由码找对应序号</a>
</div>
</div>
<div class="height10"></div>
<div class="content">
<table class="table_results" >
<thead><tr>
<th  width="10%" ><span>企业码</span></th>
<th  width="18%" ><span>企业名</span></th>
<th  width="12%" ><span>起始序号</span></th>
<th  width="12%" ><span>终止序号</span></th>
<th  width="15%" ><span>操作时间</span></th>
<th  width="20%"  ><span>备注</span></th>
<th  width="13%"  ><span>操作</span></th>
</tr></thead>
<tbody>
<foreach name='list' item='item'  key='key'>
<tr class="<{$key%2 == 0?'odd':'even'}>" >
<td class="data"><span><{$item.unitcode}></span></td>
<td class="data"><span><{$item.qy_name}></span></td>
<td class="data"><span><{$item.codebegin}></span></td>
<td class="data"><span><{$item.codeend}></span></td>
<td class="data"><span><{$item.datetime}></span></td>
<td class="data"><span><{$item.remark|nl2br}></span></td>
<td class="data"><span><a href="<{:U('Sysadmin/Fwcode/viewbatch?id='.$item['id'].'')}>"  >详细</a>　<a href="<{:U('Sysadmin/Fwcode/editbatch?id='.$item['id'].'')}>"  >修改</a>　<a  href="#" onClick="javascript:var truthBeTold = window.confirm('该操作将彻底删除,谨慎操作!'); if (truthBeTold) window.location.href='<{:U('Sysadmin/Fwcode/batchdel?id='.$item['id'].'')}>';" >删除</a></span></td>
</tr>
</foreach>
</tbody>
</table>
<div class="height10"></div>
<table class="page" cellpadding="0" cellspacing="0"><tbody>
<tr>
<td><{$page}></td>
</tr></tbody></table>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>