<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>防窜查询</title>
<include file="Com/head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/angels/css/font.css" />
<style>

</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" data-href="<{:U('./Angels/Fangcuan/index')}>" ></i><h1>查询结果</h1>
</header>
<section class="ui-container" >
<div class="ui-whitespace">
　
</div>
<ul class="ui-list ui-list-text  ui-border-tb">
    <li class="ui-border-t">
        <h4 class="ui-nowrap">输入条码：<{$barcode.code}></h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">出货仓库：<{$shipmentinfo.warehouse}></h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">对应产品：<{$shipmentinfo.pro_name}> (<{$shipmentinfo.pro_number}>)</h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">包装数量：<{$barcode.qty}></h4>
    </li>
	<neq name="barcode.dabiao" value="">
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">大标条码：<{$barcode.dabiao}></h4>
    </li>
	</neq>
	 <li class="ui-border-t">
	 <div class="ui-list-info">
        <h4 class="ui-nowrap">流向：</h4>
		<p class="ui-nowrap">
				 <{$shipmentinfo.ship_date|date='Y-m-d',###}>   由 <b>总公司</b>  发向  <b><{$shipmentinfo.dl_name}></b> <br/>

				 <notempty name="shipmentinfo.sub">
				 <{$shipmentinfo.sub.ship_date|date='Y-m-d',###}>   由 <b><{$shipmentinfo.dl_name}></b>  发向  <b><{$shipmentinfo.sub.dl_name}></b> <br/>
				 </notempty>
				 
				  <notempty name="shipmentinfo.sub.sub">
				 <{$shipmentinfo.sub.sub.ship_date|date='Y-m-d',###}>   由 <b><{$shipmentinfo.sub.dl_name}></b>  发向  <b><{$shipmentinfo.sub.sub.dl_name}></b> <br/>
				 </notempty>
				 
				  <notempty name="shipmentinfo.sub.sub.sub">
				 <{$shipmentinfo.sub.sub.sub.ship_date|date='Y-m-d',###}>   由 <b><{$shipmentinfo.sub.sub.dl_name}></b>  发向  <b><{$shipmentinfo.sub.sub.sub.dl_name}></b> <br/>
				 </notempty>
				 
				  <notempty name="shipmentinfo.sub.sub.sub.sub">
				 <{$shipmentinfo.sub.sub.sub.sub.ship_date|date='Y-m-d',###}>   由 <b><{$shipmentinfo.sub.sub.sub.dl_name}></b>  发向  <b><{$shipmentinfo.sub.sub.sub.sub.dl_name}></b> <br/>
				 </notempty>
		</p>
	</div>
    </li>
</ul>
        
	

</section>


<script>
(function (){

		$('.ui-icon-return').click(function(){
			if($(this).data('href')){
				location.href= $(this).data('href');
			}
		});	
		
})();
</script>
</body>

</html>