<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>出货查询</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/mp/css/style-wx.css" />
<script type="text/javascript" src="__PUBLIC__/mp/js/jquery.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" language="javascript" >
  /*
   * 注意：
   * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
   * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
   * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
   *
   * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
   * 邮箱地址：weixin-open@qq.com
   * 邮件主题：【微信JS-SDK反馈】具体问题
   * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
   */
  wx.config({
    debug:false,
    appId: '<{$signPackage.appId}>',
    timestamp: <{$signPackage.timestamp}>,
    nonceStr: '<{$signPackage.nonceStr}>',
    signature: '<{$signPackage.signature}>',
    jsApiList: [
	    'checkJsApi',
		'scanQRCode'
      // 所有要调用的 API 都要加到这个列表中
    ]
  });
  
  wx.ready(function () {
    // 在这里调用 API
  // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
      wx.checkJsApi({
      jsApiList: [
        'scanQRCode'
      ],
      success: function (res) {

      },
	  fail:function (res) {
	     alert("微信版本比较低，不支持该功能");
	  }
    });
	
    document.querySelector('#scanQRCode1').onclick = function () {
    //调用摄像头
	wx.scanQRCode({
      needResult: 1,
	  scanType: ["barCode","qrCode"], 
      success: function (res) {
	     var result = res.resultStr; 
		 self.location.href='http://www.cn315fw.com/mp/wxship/shipsearch?brcode='+result; 
         
      }
    });
	};
	
  });
  wx.error(function (res) {
		alert(res.errMsg);
  });
	
	
	function trim(str){ //删除左右两端的空格
		return str.replace(/(^\s*)|(\s*$)/g, "");
	} 

	function showTipsBox(info) {
		$("#tipsbox").css({"display":"block"});
		$("#tipstitle").html(info);
		setTimeout("tipsBox_clear()", 2000);
	}

	function tipsBox_clear() {
		$("#tipstitle").html("");
		$("#tipsbox").css({"display":"none"});
	}
</script>
</head>
<body>
<div class="header">
<div class="top"><div style="font-weight:bold; font-size:16px; line-height:30px"><{$title}></div></div>
</div>
<!-- header -->

<div class="main">
<div class="block">
<div class="fwtxt">
<form action=""   method="post" name="fmm" id="fmm"  style="padding:0; margin:0">

<div  class="fmtitle">请输入条码查询：</div>
<input name="brcode" id="brcode" class="input"  value=""  type="text">

<div  class="height20"></div>
<div style="text-align:center;"><input name="ssubmit" id="ssubmit" value="查 询" type="submit"  class="ssubmit"  ></div>
<div  class="height20"></div>
<div  class="fmtitle" style="text-align:center">或</div>
<div style="text-align:center;">
<input  id="scanQRCode1"  value="扫码直接查询" type="button" class="ssubmit">　
</div>
</form>
</div>
</div>
</div>

<!-- foot -->
<div class="height60"></div>
<div class="footer2">
<div class="back"><div style="padding:10px 0 10px 8px; float:left; text-align:left" ><A  href="javascript:history.go(-1)"  ><img src="__PUBLIC__/mp/static/back.png"   /></A></div></div>
<div class="title"><div style="padding:10px 0 10px 0; text-align:center" ><A  href="<{:U('./Mp/Wxship/index')}>"  ><img src="__PUBLIC__/mp/static/home.png"   /></A></div></div>
<div class="menu"><div style="padding:10px 8px 10px 0; text-align:right" ><A   style="cursor:pointer"  id="popmenu" ><img src="__PUBLIC__/mp/static/menu.png" /></A></div></div>
</div>

<div id="overlay" style="display:none" ></div>
<div id="window"  style="display:none" >
<ul class="windowlist">
<li><a href="<{:U('./Mp/Wxship/shiplist')}>"><span>出货记录</span></a></li>
<li><a href="<{:U('./Mp/Wxship/index')}>"><span>出货扫描</span></a></li>
<li><a href="<{:U('./Mp/Wxship/shipsearch')}>"><span>出货查询</span></a></li>
<div class="clear"></div></ul></div>
<div class="clear"></div>
<script type="text/javascript">
	$(document).ready(function() {
        var oWin = document.getElementById("window");
        var oLay = document.getElementById("overlay");	
        var oBtn = document.getElementById("popmenu");

        oBtn.onclick = function (){oLay.style.display = "block";oWin.style.display = "block"};
        oLay.onclick = function (){oLay.style.display = "none";oWin.style.display = "none"	}
    });
</script>
<div class="tipsbox dnone" id="tipsbox" >
	<i class="tips_icon"   ><img  src="__PUBLIC__/mp/static/info-white.png" width="40" height="40"/></i>
	<div class="tipstitle" id="tipstitle" ></div>
</div>
</body>
</html>