<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>下级代理查看</title>
<include file="Com/head" />

<style>

</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" data-href="<{:U('./Angels/Dealer/brandlevel')}>"  ></i><h1>下级代理查看</h1>
</header>
<section class="ui-container" >

<ul class="ui-list  ui-border-tb">
<li class="ui-border-t active">
        <div class="ui-list-info">
            <h4 class="ui-nowrap"><{$dltinfo.dlt_name}></h4>
        </div>
</li>
</ul>


<ul class="ui-list ui-list-link  ui-border-tb">

<foreach name='dllist' item='item'  key='key'>
    <li class="ui-border-t" data-href="<{:U('./Angels/Dealer/dealerdetail?dlid='.$item['dl_id'].'')}>"   >
        <div class="ui-list-info">
            <h4 class="ui-nowrap"><{$item.dl_name}> <if condition="$item.dl_number neq '' "> (<{$item.dl_number}>)</if> <{$item.dlstt_name}></h4>
			<p class="ui-nowrap">微信号：<{$item.dl_weixin}>　　手机号：<{$item.dl_tel}></p>
			<p class="ui-nowrap">地址：<{$item.dl_address}></p>
        </div>
    </li>
</foreach>
</ul>
</section>
<script>
$('.ui-icon-return').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});
$('.ui-list li').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});
</script>
</body>
</html>