<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>申请调级</title>
<include file="Com/head" />
<script type="text/javascript" src="__PUBLIC__/angels/js/lrz.all.bundle.js"></script>
<style>
.weui_uploader_input_wrp {
    border: 1px solid #d9d9d9;
    float: left;
    height: 70px;
    margin-bottom: 9px;
    margin-right: 9px;
    position: relative;
    width: 70px;
}
.weui_uploader_input_wrp::after, .weui_uploader_input_wrp::before {
    background-color: #fff;
    content: "凭证";
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}



.weui_uploader_input_wrp:active {
    border-color: #999;
}
.weui_uploader_input_wrp:active::after, .weui_uploader_input_wrp:active::before {
    background-color: #999;
}
.weui_uploader_input {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}


</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" data-href="<{:U('./Angels/Dealer/updatedltypeindex')}>" ></i><h1>申请调级</h1>
</header>
<section class="ui-container" >
<div class="ui-whitespace" style="margin:10px 0 10px 0" >
    <p>当前级别：<{$dealerinfo.original_name}> </p>
</div>
<div class="ui-whitespace" style="margin:10px 0 10px 0" >
    <p>当前上家：<{$dealerinfo.dl_belong_name}> </p>
</div>
<div class="ui-whitespace" style="margin:10px 0 10px 0" >
    <p>当前推荐人：<{$dealerinfo.dl_referee_name}></p>
</div>

<div class="ui-form ui-border-t">
<form action="<{:U('./Angels/Dealer/updatedltype_save')}>" action="" enctype="multipart/form-data" method="post" id="fmmm" name="fmmm" >
<input type="hidden" name="ttamp" id="ttamp" value="<{$ttamp}>">
<input type="hidden" name="sture" id="sture" value="<{$sture}>">
<input type="hidden" name="file_name" id="file_name"  value="" >
<input type="hidden" name="okk" id="okk" value="0">

<div class="ui-form-item ui-border-b">
	<label>申请级别</label>
	<div class="ui-select">
		<select name="dltype"  id="dltype"  >
		<option  value="0" >请选择级别　</option>
			<foreach name='dltypelist' item='item'  key='key'>
				<if condition="$item.dlt_level gt 1 ">
				<option  value="<{$item.dlt_id}>" ><{$item.dlt_name}>　</option>
				</if>
			</foreach>
		</select>
	</div>

</div>
<div class="ui-whitespace" style="margin:10px 0 20px 0; display:none" id="belonginfo" >
<p id="belongtxt" ></p>
</div>

<div class="ui-whitespace" style="margin:10px 0 20px 0;" >
    <h1>上传凭证<span style="font-size:0.8em; font-weight:normal">(文件小于2M)</span></h1>
<div style="float:left;padding-right:5px;max-width:70px;display:none" id="img_div" >
<img id="img_file" style=" width:100%; border:none"  />
</div>
<div class="weui_uploader_input_wrp"> 
<input id="pic_file" name="pic_file" class="weui_uploader_input js_file"  type="file"   accept="image/gif,image/jpeg,image/jpg,image/png" >
</div>

</div>

</form>
<div class="ui-btn-wrap">
    <button class="ui-btn-lg ui-btn-primary" id="apply" >
        提交申请
    </button>
</div>

</div>

</section>
<script>
(function (){
	$('.ui-icon-return').click(function(){
		if($(this).data('href')){
			location.href= $(this).data('href');
		}
	});
    //选择级别
   $("#dltype").change(function(){

			var dltype = $("#dltype").val();
            try {
				$.ajax({
					type: 'POST',
					url: '<{:U('./Angels/Dealer/belongjson')}>',
					data: {dltype:dltype },
					dataType: 'json',
					timeout: 30000,
					success: function (data) {

						var stat=0;
						stat=parseInt(data.stat);
						
						if (stat == 1) {
						     $("#belongtxt").html(data.msg);
							 $("#belonginfo").show();
							 $("#okk").val('1');
						     return false; 
						}else if(stat == 2){
						     $("#belongtxt").html("");
							 $("#belonginfo").hide();
							 $("#okk").val('0');
						     mpoptips(data.msg,"warn",2000);
							 location.href = "<{:U('./Angels/Index/index')}>";
						}else{
						     $("#belongtxt").html("");
							 $("#belonginfo").hide();
							 $("#okk").val('0');
							 mpoptips(data.msg,"warn",2000);
							 return false; 
						}
					},
					error: function (xhr, type) {
						mpoptips("超时或服务错误","warn",2000);
						return false; 
					}
				});

			} catch (e) {
				mpoptips(e,"warn",2000);
				return false; 
			}

   });

	//点击提交
    $("#apply").click(function(){
			if(parseInt($("#dltype").val()) <=0) { 
				mpoptips("请选择申请级别","warn",2000);
				return false; 
			}
			
            if($("#file_name").val()=="") { 
				mpoptips("请上传凭证","warn",2000);
				return false; 
			} 
			
			if(parseInt($("#okk").val()) <=0) { 
				mpoptips("所申请级别上家有误，请与公司联系","warn",2000);
				return false; 
			}

			
			$("#fmmm").submit();  
			
	});
    
	
})();


</script>

<script>
(function(){
        $("#pic_file").change(function(){
             lrz(this.files[0], {width: 800})
                .then(function (rst) {
                    //console.log(rst);
					 var el=$.loading({
							content:'上传中...',
					 });
                    $.ajax({
                        url: '<{:U('./Angels/Dealer/uploadpic')}>',
                        type: 'post',
                        data: {"pic_file":rst.base64,"ttamp":"<{$ttamp}>","sture":"<{$sture}>"},
                        dataType: 'json',
                        timeout: 200000,
                        success: function (response) {
						    el.loading("hide");
                            if (response.stat == '0') {
								$("#file_name").val(response.filename);
								$("#img_file").attr('src',"__PUBLIC__/uploads/temp/"+response.filename); 
								$("#img_div").show();
                                 return true;
                            } else {
								alert('图片提交失败,请刷新后提交');
								return false;
                            }
                        },

                        error: function (jqXHR, textStatus, errorThrown) {
                            el.loading("hide");
                            if (textStatus == 'timeout') {
                                a_info_alert('请求超时');
                                return false;
                            }

                            alert(jqXHR.responseText);
                        }
                    });
                        
                })
                .catch(function (err) {
                   el.loading("hide");
                })
                .always(function () {
                   el.loading("hide");
                });
        });
		
})();
</script>


</body>
</html>