<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>代理调级详细</title>
<include file="Com/head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/angels/css/font.css" />
<style>

</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b" style="background-color: white">
	<i class="ui-icon-return" style="color:#E8E8E8" onClick="history.back()"></i> <h1 style="color: #0C0C0C">代理调级详细</h1>
</header>
<section class="ui-container" >
<div class="ui-whitespace">
　
</div>
<ul class="ui-list ui-list-text  ui-border-tb">
    <li class="ui-border-t">
        <h4 class="ui-nowrap">申请代理：<{$updateinfo.dl_name_str}></h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">申请前上家：<{$updateinfo.apply_agobelong_str}></h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">申请前级别：<{$updateinfo.apply_agodltype_str}></h4>
    </li>
    <li class="ui-border-t">
        <h4 class="ui-nowrap">申请后上家：<{$updateinfo.apply_afterbelong_str}></h4>
    </li>
	<li class="ui-border-t">
        <h4 class="ui-nowrap">申请后级别：<{$updateinfo.apply_afterdltype_str}></h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">凭证：<{$updateinfo.apply_pic_str}></h4>
    </li>
	<li class="ui-border-t">
        <h4 class="ui-nowrap">当前状态：<{$updateinfo.apply_state_str}></h4>
    </li>
	
	<li class="ui-border-t">
        <h4 class="ui-nowrap">申请时间：<{$updateinfo.apply_addtime|date='Y-m-d H:i:s',###}></h4>
    </li>
	<if condition="($updateinfo.apply_dealtime neq '') AND ($updateinfo.apply_dealtime neq '0') ">
	<li class="ui-border-t">
        <h4 class="ui-nowrap">处理时间：<{$updateinfo.apply_dealtime|date='Y-m-d H:i:s',###}></h4>
    </li>
	</if>
	<if condition="$updateinfo.apply_remark neq '' ">
	<li class="ui-border-t">
        <h4 class="ui-nowrap">处理备注：<{$updateinfo.apply_remark|nl2br}></h4>
    </li>
	</if>
	

</ul>

     
</section>


<script>
(function (){

	$('.ui-icon-return').click(function(){
		if($(this).data('href')){
			location.href= $(this).data('href');
		}
	});	

})();
</script>
</body>

</html>