<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>积分详细</title>
<include file="Com/head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/angels/css/font.css" />
<style>

</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" onClick="history.back()"  ></i><h1>积分详细</h1>
</header>
<section class="ui-container" >
<div class="ui-whitespace">
　
</div>
<ul class="ui-list ui-list-text  ui-border-tb">
    <li class="ui-border-t">
        <h4 class="ui-nowrap">积分类型：<{$dljfinfo.dljf_typestr}></h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">　　积分：<{$dljfinfo.dljf_jfstr}></h4>
    </li>
	 <if condition="$dljfinfo.dljf_orderid neq ''">
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">相关订单：<{$dljfinfo.dljf_orderid}></h4>
    </li>
	</if>

	 <li class="ui-border-t">
        <h4 class="ui-nowrap">积分说明：<{$dljfinfo.dljf_remark}></h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">积分时间：<{$dljfinfo.dljf_addtime|date='Y-m-d H:i:s',###}></h4>
    </li>

	
</ul>

     
</section>


<script>
(function (){

		$('.ui-icon-return').click(function(){
			if($(this).data('href')){
				location.href= $(this).data('href');
			}
		});	
		
		
})();
</script>
</body>

</html>